.sign-in-container{
    width: 100%;
    height: 90vh;
    background: var(--primary-background);
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-container{
    width: 40%;
    height: 60vh;
    border-radius: 16px;
    background: var(--primary-text);

    text-align: left;
}
.hh-container{
    width: 90%;
    margin: auto;
    margin-top: 5px;
    padding: 10px;
}
.hh1{
font-family: Helvetica;
font-size: 30px;
font-weight: 500;
line-height: 36px;
letter-spacing: 0.23999999463558197px;
text-align: left;
color: var(--primary-icon) !important;
margin-bottom: 10px;
}
.hh2{
font-family: Helvetica;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0em;
text-align: left;
color: var(--primary-icon) !important;
}
.in-row{
    width: 100%;
}
.input-container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top: 10px;
}
.ant-input{
width: 100%;
height: 8vh;
border-radius: 16px;
padding: 0px 10px;
border: 1px solid var(--primary-1) !important;
box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05) !important;
font-size: 18px;
}
.ant-input:hover{
border: 2px solid var(--primary-1) !important;
box-shadow: 0px 0px 0px rgba(63, 63, 68, 0.05);
    }
.ant-btn{
    width: 85%;
    background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%);
    height: 6vh;
    border-radius: 16px;
    margin: auto;
   margin-top: 15px;
   cursor: pointer;
   text-align: center !important;
   border: 1px solid var(--primary-1) !important;

}
.error{
    font-size: 14px;
    margin: auto;
    color: red;
    text-align: left;
}
@media only screen and (max-width: 760px) {
    .title-container{
        width: 90%;
        height: 60vh;
        border-radius: 16px;
        background: var(--primary-text);
    
        text-align: left;
    }
    .custom-Model{
        background: var(--secondary-background) !important;
        width: 100% !important;
     }
     .ant-modal .ant-modal-content {
        background: var(--secondary-background) !important;
        padding: 10px 10px;
     }

}
.ant-modal .ant-modal-content {
   background: var(--secondary-background) !important;
   padding: 20px 24px;
}
.closebtn{
    width: 100% !important;
    height: 5vh !important;
    margin: auto;

}