.navContainer {
  width: 100%;
  height: var(--navbar-height);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:30px;
  background-color: var(--secondary-background);
}
.space{
  width: 28%;
}
.logoContainer1{
  width: 25%;
  height: 100%;
}
.logo-Container {
  width: 100%;
  height: 90%;
  padding: 10px;
}
.logo {
  width: 50%;
  height: 100%;
}
.search-Container1{
  width: 50%;
  display: flex;
  justify-content: right;
  align-items: flex-end;
}
.search-Container {
  width: 60%;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
  color: #fff !important;
}
.search-input {
  width: 89%;
  color: #fff !important;
  border: none;
  outline: none;
}
.logoutbtn-Container{
  display: block;
  width: 10%;
}
.logoutbtn{
  width: 100% !important;
  height: 4vh !important;
  background: var(--primary-1);
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  padding: 0;
}
.btnNd{
  display: none;
}
@media only screen and (max-width: 900px) {
  .navContainer {
    width: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    background-color: var(--secondary-background);
  }
  .logoContainer1{
    width: 100%;
    height: 100%;
 
  }
  .logo-Container {
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content:space-between;
  }
  .logo {
    width: 100px;
    height: 40px;
    margin-left: 15px;
  }
  .search-Container1{
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
  }
  .search-Container {
    width: 100%;
    align-items: center;
    margin-left: 25px;
    color: #fff !important;
    padding-bottom: 8px;
  }
  .space{
    width: 1% !important;
  }
  .btnNd{
    display: block;
    width: 40%;
  }
  .logoutbtn-Container{
    display: none;
   
  }
  .search-input {
    width: 85%;
    height: 95%;
    margin-left: 1px;
    color: #fff !important;
    border: none;
    outline: none;
  }
}
/* HomePage CSS */

.Ads-container {
  width: 100%;
  padding: 10px;
  text-align: left;
}
.Ads-container img {
  width: 100%;
  height: 25vh;
}
.home-card-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  flex-wrap: wrap !important;
}
.card {
  width: 240px;
  height: 30vh;
  margin: 10px 2px;
  background-color: var(--primary-background) !important;
  cursor: pointer;
  margin:20px 15px;
}

.stars {
  margin-left: 10px;
}
.card2 {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(0deg, #1a2b4a 0%, #2b507c 105.38%);
  cursor: pointer;
  padding: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
 
}
.overflow-title{
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis; 
}
.home-movie-poster {
  width: 100%;
  height: 20vh;
}
.play {
  width: 60px !important;
  height: 60px !important;
  padding: 10px;
}

@media only screen and (max-width: 550px) {
  .home-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Ads-container img {
    width: 100%;
    padding: 10px;
    object-fit: contain;
  }
  .card {
    width: 90%;
    margin: auto;
    margin: 10px 2px;
    background-color: var(--primary-background) !important;
    cursor: pointer;
  }
  .play {
    width: 40px !important;
    height: 40px !important;
    margin-right: 20px;
  }
}

/* Movie Details Page */

.movieDetails-container {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  color: var(--primary-text);
  overflow-y: scroll;
}
.details-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  
}
.image-container {
  width: 55%;
  height: calc(100vh - var(--navbar-height));
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.nd {
  display: none !important;
}
.arrow {
  display: block;
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-top: 20px;
  margin-left: -10px;
}
.playbtn {
  height: 103px;
  width: 103px;
  position: absolute;
  z-index: 10;
  cursor: pointer;
}
.poster {
  width: 50%;
  height: 89vh;
  position: absolute;
  z-index: -1;
}
.movie-title {
  margin-top: 10vh;
}
.movieDetails {
  margin-top: 3vh;
  text-align: left !important;
}
.spinner {
  width: 100%;
  height: 85vh;
  background: var(--secondary-background) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nd-div{
    display: none;
}
@media only screen and (max-width: 900px) {
  .movieDetails-container {
    width: 100% !important;
    height: auto;
    display: flex;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
    color: var(--primary-text);
  }
  .image-container {
    width: 90%;
    height: calc(100vh - var(--navbar-height));
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .details-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    margin: auto;
  }
  .poster {
    width: 100%;
    height: 89vh;
    position: relative;
  }
  .arrow {
    display: none;
  }
  .nd-div{
    display: block;
    width: 100%;
    height: 6vh;
    display: flex;
    justify-content: left;
    align-items: flex-start;
  }
  .nd {
    display: block !important;
    height: 32px;
    width: 32px;
    cursor: pointer;
    margin-left: 10px;
  }
  .mvie-title{
    font-family: Helvetica;
font-size: 24px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: left;

  }
.movieDetails p{
    font-family: Helvetica;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
padding-bottom: 30px;
  }
}

