
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
/* @import "node_modules/video-react/dist/video-react.css"; */

.App {
  width: 100% !important;
  overflow-x: hidden;
  text-align: center;
  background-color:#000;
  color: #fff !important;
}

:root {
  --primary-1:#FF9966;
  --primary-background: #0C111B;
  --secondary-background:#263F61;


  --hover-overlay: rgba(0, 0, 0, 0.051);
  --hover-overlay-2: rgba(68, 73, 80, 0.251);

  --supplementary-1: #49f39e;

  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-7: rgba(0, 0, 0, 0.7);
  --shadow-8: rgba(0, 0, 0, 0.8);

  --primary-icon: #050505;
  --primary-text: #fff;

  --secondary-icon: #65676b;
  --secondary-text: #f9fafc;

  --navbar-height: 70px;

  --placeholder-text: #fafcff;
  --filter-invert: 0;

  font-family: 'Poppins';
}
::-webkit-scrollbar {
  width: 8px;
  height: 7px;
  background-color: var(--primary-background);;
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
::-webkit-scrollbar-thumb:vertical {
  background: var(--primary-1);;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  /* background-clip: padding-box; */
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0, 0, 0, 0.762);  /*Some darker color when you click it*/
  -webkit-border-radius: 100px;
  border-radius: 100px;
}
::-webkit-scrollbar-thumb:horizontal {
  background: rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 100px;
  border-radius: 100px;
  /* background-clip: padding-box; */
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:horizontal:active {
  /*background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
  border-radius: 100px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color:#fff;;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
input{

}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main {
  width: 100%;
  min-height: 100vh;
}
ul,
li {
  list-style: none;
}
textarea,button {
  width: 80%;
  height: 5vh;
  border: none;
  border-bottom: 1px solid var(--primary-text);
  padding-left: 1px;
  outline: none;
}
input::placeholder{
  color: var(--placeholder-text);
}
.button{
  display: flex;
  justify-content: space-between;
  border: none;
  background: linear-gradient(180deg, #FF9966 0%, #FF5E62 100%);
  border-radius: 8px;
  align-items: center;
}
button input{
  width: 90%;
  height: 4.8vh;
  border: none;
  background: var(--secondary-background);
  color: #fff !important;
  padding-left: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
button img{
margin-right: 15px;
}
p{
font-family: Helvetica;
font-size: 20px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0em;
text-align: left;

}
.mvie-title{
font-family: Helvetica;
font-size: 42px;
font-weight: 500;
line-height: 50px;
letter-spacing: 0em;
text-align: left;

}
.t1{
  font-size: 32px;
  color: var(--primary-text);
}
.t2{
  font-size: 22px;
  margin-left: 15px;
  padding: 10px;
  color: var(--primary-text);
}
.t3{
  font-family: Poppins;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;  
  color: var(--primary-1);
  margin-left: 10px;
  padding: 5px;
  
}
.error {
  width: 80%;
  color:red !important;
  text-align: left !important;
  font-size: 0.75rem;
}

.ant-pagination .ant-pagination-item a {
 color: var(--secondary-text) !important;
}
.ant-pagination .ant-pagination-item-active {
  border: none !important;
  outline: none !important;
  color: #ff9966 !important;
  background-color: var(--primary-background);
}
.ant-pagination .ant-pagination-item-active a {
  color: #ff9966 !important;
}
.empty{
  width: 100%;
  min-height:50vh;
  max-height: auto;
  background-color: var(--secondary-background);
}